


body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
  background: #ffffff; 
/*	color: #000000; */
	margin: 0px; 
	padding: 0px;

}
div.WelcomeMessage{
    color: #ecf4e6; 
    background: rgb(237, 109, 179) url("img/2c4a44f5633039066de9ba6dd8f04b0e.jpg") no-repeat; 
    margin:0px;
    background-size: 100%;
    padding-left:200px;
    padding-top: 200px;
    padding-bottom: 150px;
    padding-right: 150px;
}
div.backgroundInscription{
  background : rgb(237, 109, 179) url("img/2c4a44f5633039066de9ba6dd8f04b0e.jpg") no-repeat; 
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  background-size: 100%;
}

div.displayConnexion{
  background : rgb(237, 109, 179) url("img/2c4a44f5633039066de9ba6dd8f04b0e.jpg") no-repeat; 
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  background-size: 100%;
}

div.displayMembre{
  background : rgb(237, 109, 179) url("img/2c4a44f5633039066de9ba6dd8f04b0e.jpg") no-repeat; 
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  background-size: 100%;
}

div.displayAdmin{
  background : rgb(237, 109, 179) url("img/2c4a44f5633039066de9ba6dd8f04b0e.jpg") no-repeat; 
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
  background-size: 100%;
}


div.row{
  width: 100%;
  height:100%;
  padding:0;
  margin:0;
}
div.gameDisplay{
  padding-top: 100px;
  padding-bottom: 85px;

}
div.displayVision{
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: rgba(245, 106, 182, 0.3);
}

div.gameDisplay img{
  width: 100%; /* Ajustez la taille de l'image selon vos besoins */
  height: 100%;
  border-radius: 100%;
}
.left-align {
  text-align: left;
}
.white-text {
  color: white;
}
  .navbar-nav .nav-item {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height:100%;
    text-align:center ; /* Centrez le texte dans chaque élément */
  }
  
  .navbar-nav .nav-link {
    padding: 10px; /* Ajoutez de l'espace autour du texte */
    text-decoration: none;
  }
 
  .sidebar {
 
    height: 400%;
    width: 100%;
    top: 0px;
    right: 30;
    background-color: rgba(0, 0, 0, 0.1); /* Couleur bleue avec une opacité de 0.7 */
    padding-top: 10px;
  }
 
#responsive{
  padding:0;
}

  div.sidebar div.row.row{
    background-color: rgba(224, 224, 224, 0.2); /* Couleur bleue avec une opacité de 0.7 */
    margin:0px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    
  }
  .sidebar a {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: #646161;
    display: block;
  }
 
  .sidebar a:hover {
    color: rgb(35, 13, 65);
  }
  .text {
    margin-left: 10px; /* Ajoute une marge à gauche du texte */
}
.link-pink {
  color: rgb(255, 192, 203);
}
.justify-text {
  text-align: justify !important;
}
/*.colonne-gauche {
  float: left;
  width: 50%;
  padding: 20px;
}*/

/* Style de la colonne de droite 
.colonne-droite {
  float: right;
  width: 50%;
  padding: 20px;
}*/

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Place la vidéo derrière le contenu de la page */
}


  /*AJOUT CERISE//////////////////////////////////////////////////////////////////////////////////////////*/
  /*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}*/

section {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.jeux-section {
display: flex;
justify-content: space-around;
flex-wrap:wrap;
}

.jeu {
text-align: center;
margin: 10px;
}

.jeu img {
width: 10%; /* Ajustez la taille de l'image selon vos besoins */
height: 10%;
border-radius: 8px;
}

.btn-jouer {
display: block;
margin-top: 5px;
padding: 5px 10px;
background-color: #5f7bf8;
color: white;
text-decoration: none;
border-radius: 4px;
}

.btn-jouer:hover {
background-color: #5458d3;
}

/* Ajoutez d'autres styles selon vos besoins */

.game-info {
  font-size: 15px; /* Modifiez la taille de police selon vos besoins */
  margin-bottom: 10px; /* Ajoutez de l'espace entre chaque élément du jeu */
}

.team-member {
  text-align: center;
  margin-bottom: 20px;
}

.team-member img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.site-description {
  text-align: center;
  margin-top: 50px;
}


footer.pink-background{
  padding-top: 50px;
  background-color: rgb(108, 34, 74);
  padding-bottom: 50px; 
  color: #ecf4e6;


}
footer.pink-background img{
  width: 50%; /* Ajustez la taille de l'image selon vos besoins */
  height: 100%;
  border-radius: 100%;
}

/* Dans votre fichier de style CSS */
.bg-rose {
  background-color: rgb(108, 34, 74);  /*Remplacez cette couleur par la teinte de rose de votre choix */

}
